{% extends 'partials/base.html.twig' %}

{% block content %}
	{% include 'partials/page-header.html.twig' %}
	<section id='membership-benefits-section' class="section is-medium">
		<div class='container'>
			{% if page.header.benefits %}
				<ul class='list'>
					{% for benefit in page.header.benefits %}
						<li class='list-item'>{{benefit.description}}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</section>
	<section class="section is-medium">
		<div class='container'>
			<h1 class="title is-2 has-text-centered">Membership</h1>
			<div class='columns is-centered'>
				<div class='column is-two-thirds-tablet is-half-desktop'>The
					{{ ilg_name }}
					is a voluntary coalition of more than 100 representatives from organizations of all sizes and industries. This group was established to provide an open forum for members to exchange information and ideas between themselves and with OFCCP representatives, who also attend a portion of each meeting. Membership is $75 per year (individual) or $150 per year (per company), plus a minimal cost per meeting for lunch. An additional $10 is charged for memberships renewed after February 13th. Meetings are held in February, May, August, and November in the Columbus area.</div>
			</div>
			<div class="columns is-centered">
				<div class='column is-one-half-tablet is-one-third-desktop'>
					<div class="button is-primary is-fullwidth">Join</div>
				</div>
			</div>
		</section>
	{% endblock %}
