#board-members-section {
    background-color: $light-gray;
}

.board-members {
    display: flex;
    justify-content: center;
}

.board-member {
    flex: 1 0 25rem;
    max-width: 25rem;
    margin: 1rem;

    &>.card-image {
        width: 25rem;
        height: 25rem;
        overflow: hidden;
    }
}

#about-ilg-section {
    margin: 2rem 0;

    & h3:nth-child(n+2) {
        margin: 1em 0 .25em;
    }
}